*{
      box-sizing: border-box;  /* tüm sayfaların htlminde taşma önleniyor.yıldız işareti kullanarak. */
    
}

body {
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 600px;
    background: lightpink;
    padding: 20px;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
}

.counterContainer{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.counterContainer p {
font-size: 18px;
}

.remainingCounter{
    color: red;
}

.totalCounter{
    color: blue;
}   